.logo{
    font-size: 30px;
    font-weight: lighter;
    font-family: ui-monospace;
    user-select: none;
}
.menu {
    margin: 10px;
    cursor: pointer;
    display: none;
  }
  
  .menu div {
    background-color: #1c2126;
    width: 28px;
    height: 5px;
    margin: 4px;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .search_active{
    width: 50% !important;
  }
  
.nav_links{
    padding-bottom: 0.25rem;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}
.nav_links::before{
    content:"";
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 10px;
    background-color: #3c4045;
    transition: width 0.35s ease-out;
}
.nav_links:hover::before{
    width: 80%;
}
.search_input{
    position: absolute;
    width: 90%;
    height: 35px;
    line-height: 42.5px;
    outline: none;
    border-radius: 20px;
    padding: 0 20px;
    left: 0%;
    transition: 1s;
    background-color: #cbd5e1;
    
}
.search_input:hover{
    width: 90%;
    left: 0;
    display: block;
    border: 1px solid;
    background-color: #ffffff;
    /* border: 0; */
}

.search_feild{
    position: relative;
    display: flex;
    margin-top: 5px;
    transition: 0.6s;
    width: 3%;
}

.search_feild:hover{
    width: 25%;
}
.search_btn{
    /* background-color: #ffffff; */
    margin-top: 4px;
    position: absolute;
    right:10%;
    transition: 0.3s;
}

.res_head{
    display: flex;
    margin-top: 10px;
}
.search_btn img{
    right: 0;
    margin-top: 5px;
    margin-left: 7px;
    width: 20px;
    height: 20px;
}
.login_link{
    font-size: 18px;
    margin-top: 10px;
    text-decoration:underline;
}
@media screen and (max-width : 800px){
    body{
        max-width: 100vw;
    }
    .nav_content{
        /* display: none; */
    margin-right: 0% !important;
    position: absolute;
    right: 0px;
    top: 14vh;
    height: 88vh;
    width: 90vw;
    background-color: #cbd5e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
    }
    .nav_content li{
        margin-top: 30px;
    }
    .menu {
        display: block;
    }
    .nav-active{
        transform: translateX(0%) !important;          
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-4px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-6px,-9px);
    }
    .search_btn img{
        margin-left: 20px;
        /* margin-top: 5px; */
    }
}
@media screen and (max-width : 500px){
    .search_btn img{

        right: 0;
        margin-left: 19px;
        width: 21px;
        height: 20px;
        margin-top: 5px;
    }
    .search_btn{
        right: 0;
    }
}

