.update_form{
    display: flex;
    justify-content: center;
}
.update_container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    width: 40%;
    width: 439px;
}
.popup_info select{
    width: 100%;
    
}